<html>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
<table>
  <tr>
       <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Invite</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
          <p>    
          
        </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
    
   
  </tr>
  <%if @company_id %>
    <% @company_id.reverse.each do |f| %>
     <tr>
       <td> <%= f.name %></td>
    </tr>
    <% end %> 
  <% end %>     
 
</table>
</div>
<div class="col-sm-8">
  <div>
    <h2>Twitter Box</h2>

     <%= form_for Tweet.new do |f| %>      
        <%= f.text_area :message, class: "form-control" %>
        <%= check_box_tag :autoretweet %>Auto Retweet
       
        <%= f.submit "tweet", class: 'btn btn-md btn-pull-right btn-primary pull-right' %>
        
        <% end %>
  
  </div>
  <div>

    <h2>Time Line</h2>
  </div>
  <% if @new_tweets %>
  <% @new_tweets.each do |t| %>
  <div class="qa-message-list" id="wallmessages">
            <div class="message-item" id="m16">
              <div class="message-inner">
                <div class="message-head clearfix">
                  <div class="avatar pull-left"><a href="./index.php?qa=user&qa_1=Oleg+Kolesnichenko"><img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png"></a></div>
                  <div class="user-detail">
                    <h5 class="handle"><%= current_user.name %></h5>
                    <div class="post-meta">
                      <div class="asker-meta">
                        <span class="qa-message-what"></span>
                        <span class="qa-message-when">
                          <span class="qa-message-when-data"><%= t.created_at.strftime("%b %d,%Y") %></span>
                        </span>
                        <span class="qa-message-who">
                          <span class="qa-message-who-pad">by </span>
                          <span class="qa-message-who-data"><a href="./index.php?qa=user&qa_1=Oleg+Kolesnichenko"><%= current_user.name %></a></span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              <div class="qa-message-content">
                <%= t.message %>
              </div>
              </div>
            </div>
  </div>
  <% end %>
  <% end %>
  
</div>
</body>
</html>