<!DOCTYPE html>
<html>
  <head>

    <title>Twitter clap</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">

  
      <% if user_signed_in? %>
        <%= link_to "Twitter Clap", '#', id: "logo" %>
          <nav>
            <ul class="nav navbar-nav navbar-right">
               <%= label_tag("Welcome ") %><%= current_user.name %>
              <li><%= link_to "Logout", destroy_user_session_path,:method => :delete %></li>
             
            </ul>
          </nav>
        <% else %>
        <%= link_to "Twitter Clap", '#', id: "logo" %>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Sign in via Twitter", user_twitter_omniauth_authorize_path %></li>
             
            </ul>
          </nav>
        <% end %>

      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
